
body {
  font-family: Verdana;
  font-size: .9em;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0px;
}

h1 {
  font-family: Vollkorn;
  font-weight: normal;
  color: #000000;
  font-size: 3em;
  padding-left:120px;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
   background-color: #E0FFFF;
}

.gist {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
   margin: 0em;
   font-weight: normal;
   padding-left:160px;
}

h3 {
  font-size: 0.91em;
  font-weight: bold;
}

h4 {
  font-size: 0.91em;
  font-weight: normal;
}

#header {
  margin-top: 20px;
   background-color: #FFFFFF;
}

#sidebar ul {
  font-size: 0.91em;
  list-style-type: none;
}

.navlink {
  padding-left: 15px;
}

.navseparator {
  padding-top: 0.5em;
  padding-bottom:0.2em;
}

h1, h2, h3, h4 {
  margin: 0;
}

#content {
}

#content p {
  font-size: 0.85em;
  padding: 0;
  margin: 10px;
}

#posts {
  margin-right: 200px;
  margin-left: 140px;
  margin-top: 20px;
}

.post {
    margin-bottom: 40px;
}

.postdate {
  font-size: 0.7em;
  font-style: italic;
}

#sidebar {
  float: right;
  width: 200px;
}

#footer {
  text-align: center;
  font-style: italic;
  color: #888888;
  font-size: 0.8em;
  clear: both;
  height: 80px;
}
