<html>
   <head>
     <title>rjevans.net</title>
     <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
     <link href="/site.css" rel="stylesheet" type="text/css"/>
   </head>
   <body>
     <div id="header">
       <h1><a href="/">rjevans.net</a></h1>
       <h2>poking a stick at technology</h2>
     </div>
     <div id="content">
         <div id="sidebar">
            <ul>
              <li class="navseparator">me</li>
              <li class="navlink"><a href="http://twitter.com/rje">on twitter</a></li>
              <li class="navlink"><a href="http://github.com/rje">on github</a></li>
              <li class="navseparator">my projects</li>
              <li class="navlink"><a href="http://github.com/rje/Kraken">kraken</a></li>
              <li class="navseparator">projects I like</li>
              <li class="navlink"><a href="http://clojure.org">clojure</a></li>
              <li class="navlink"><a href="http://github.com/ztellman/aleph">aleph</a></li>
              <li class="navlink"><a href="http://github.com/cgrand/enlive">enlive</a></li>
            </ul>
         </div>
       <div id="posts">
         <div class="post">
           <h3 class="posttitle"><a href="foo"></a></h3>
           <h4 class="postdate"></h4>
           <p class="postbody"></p>
         </div>
        </div>
     </div>
     <div id="footer">
       Copyright 2010 Ryan Evans
     </div>
   </body>
</html>
