<html>
   <head>
     <title>rjevans.net</title>
     <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
     <link href="/site.css" rel="stylesheet" type="text/css"/>
   </head>
   <body>
     <div id="header">
       <h1>rjevans.net</h1>
       <h2>poking a stick at technology</h2>
     </div>
     <div id="content">
         <div id="sidebar">
            <ul>
              <li class="navseparator">me</li>
              <li class="navlink"><a href="#">on twitter</a></li>
              <li class="navseparator">my projects</li>
              <li class="navlink"><a href="/kraken.html">kraken</a></li>
              <li class="navseparator">projects I like</li>
              <li class="navlink"><a href="http://clojure.org">clojure</a></li>
              <li class="navlink"><a href="http://github.com/ztellman/aleph">aleph</a></li>
              <li class="navlink"><a href="http://github.com/cgrand/enlive">enlive</a></li>
            </ul>
         </div>
       <div id="posts"/>
     </div>
     <div id="footer">
     </div>
   </body>
</html>
